@model MenuItemeViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">Edit Menu Iteme</h2>
<br />
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="MenuItem.Id"/>
    <input type="hidden" asp-for="MenuItem.Image"/>
    <div class="whiteBackground border row" style="align-items:center">
        <div class="col-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Name" class="form-control" />
                    <span class="text-danger" asp-validation-for="MenuItem.Name"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="MenuItem.Description" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="MenuItem.Description"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Price" class="form-control" />
                    <span class="text-danger" asp-validation-for="MenuItem.Price"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" multiple asp-for="MenuItem.Image" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select id="ddcategories" asp-for="MenuItem.CategoryId" asp-items="@(new SelectList(Model.CategoriesList,"Id","Name"))" class="form-control">
                    </select>
                    <span class="text-danger" asp-validation-for="MenuItem.CategoryId"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select id="ddlsubcategories" asp-for="MenuItem.SubCategoryId" asp-items="@(new SelectList(Model.SubCategoriesList,"Id","Name"))" class="form-control">
                    </select>
                    <span class="text-danger" asp-validation-for="MenuItem.SubCategoryId"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SPicyness" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItem.SPicyness" asp-items="@Html.GetEnumSelectList<MenuItem.ESpice>()" class="form-control">
                    </select>
                    <span class="text-danger" asp-validation-for="MenuItem.SPicyness"></span>
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-5 offset-2">
                    <partial name="_UpdateandBackToListPatial" />
                </div>
            </div>

        </div>
        <div class="coll-4 offset-1">
            <img src="@Model.MenuItem.Image" width="200" style="border-radius:5px;" alt="Alternate Text" />
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
    function updateSubCategoryList() {
        var SelectedCategory = document.getElementById("ddcategories").value;
        $list = $('#ddlsubcategories');
        $.ajax({
            url: '/Admin/SubCategories/GetSubCategory/' + SelectedCategory,
            type: 'GET',
            dataType: 'text',
            success: function (data) {
                results = JSON.parse(data);
                $list.html('');
                var item = '';
                for (i in results) {
                    item += '<option value="' + results[i].value + '">' + results[i].text + '</option>';
                }
                $list.html(item);
            }
        });

    }
    //$(document).ready(function () {
    //    updateSubCategoryList();
    //});
        $("#ddcategories").on("change", function () {
        updateSubCategoryList();
    });
    </script>

    <script>
    tinymce.init(
        {
        selector: 'textarea',
        plugins: 'lists',
        menubar: 'file edit format'
        }
    );

    </script>

}

